
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sevillana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
 
}

.top-nav-bar {
  background-color: #020610;
  padding: 8px;
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-family: "Poppins", serif;
  font-size: 18px;
}

.search-bar {
  padding: 12px 30px;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  font-family: "Poppins", serif;
}

.nav-links a {
  color: #fdfdfd;
  text-decoration: dashed;
}

.logo {
  height: 55px;
}

/*    .nav-links a:hover{
            background-color: rgb(12, 12, 15);
            border-radius: 20px;
            padding: 15px;
            padding-bottom: 5px;
        } */

.nav-btn {
  padding: 15px 30px;
  color: #fdfdfd;
  border-radius: 20px;
  background-color: #005173;
  color: #fdfdfd;
  border: none;
  font-size: 18px;
}

.nav-btn:hover {
  background-color: rgb(11, 13, 31);
  box-shadow: 0px 0px 10px 5px #e7e3e3;
}

.search-bar:hover {
  box-shadow: 0px 0px 10px 5px #e7e3e3;
}



.nav-container{
  height: 65px;
}
    

/* College Card CSS */

  .college-card{
    margin: 60px;
    height: 260px;
    width: 360px;
    border-radius: 30px;
    box-shadow: 2px 2px 5px 5px rgb(1, 18, 16);
    font-family: cursive;
  }

  .college-logo{
    height:120px;
   width: 100%;
   border-top-left-radius: 30px; 
   border-top-right-radius: 30px;
  }

  .location-icon{
    height: 60px;
  }

  .card1{
    padding: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .college-card-row1{
    display: flex;
    justify-content: space-evenly;
  }

  .college-card-row2{
    display: flex;
    justify-content: space-evenly;
  }

  .college-card-row3{
    display: flex;
    justify-content: space-evenly;
  }

  .college-card-row4{
    display: flex;
    justify-content: space-evenly;
  }

  .heading{
     position: relative;
     top: 25px;
     font-family: "Nosifer", serif;
     font-weight: 400;
     font-style: normal;
     color: rgb(42, 118, 148);
     left: 78px;
     margin-bottom: 50px;
  }
 
  /* footer css  */
  .web-bottom-page{
      height: 400px;
      width: 100%;
      background-color: rgb(1, 1, 21);
      color:white;
      display: flex;
  }
  .web-logo{
      margin-top: 32px;
      margin-left: 80px;
      padding: 20px;
      display: flex;
      flex-direction: column;
  }

  .web-bottom-page p{
      color: white;
      width:230px;
      font-size: 22px;
      position: relative;
      top: 20px;
  }
  

  .footer-links{
      position: relative;
      left: 200px;
      padding-top: 55px;
      
  }

  .footer-links li a{
      color: white;
      font-size: 26px;
      line-height:2;
      text-decoration: dashed;
  }

  

  .footear-heading{
      color: white;
      font-size: 32px;
      margin-bottom: 18px;
  }

  .Rights{
      color: white;
      padding: 32px;
      font-size: 22px;
      position:relative;
      right: 25px;
  }

  .pupular-course-link{
      position: relative;
      left: 120px;
  }
  .pupular-course-link li a{
      color: white;
      line-height: 1.5;
      font-size: 23px;
      text-decoration: dashed;
  }

  .pupular-course-link h2{
      margin-top: 55px;
  }

  .footer-contact{
      position: relative;
      left: 200px;
      top: 55px;
      display: flex; 
      flex-direction: column; 
      justify-content: start; 
  }

  .footer-contact a{
      font-size: 32px;
      text-decoration: dashed;
  }

  .social-icons{
      height: 80px;
      margin: 20px;
  }
 
