@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sevillana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.nav-container{
 position: fixed;
}

.top-nav-bar {
  background-color: #020610;
  padding: 8px;
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-family: "Poppins", serif;
  font-size: 18px;
}

.search-bar {
  padding: 12px 30px;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  font-family: "Poppins", serif;
}

.nav-links a {
  color: #fdfdfd;
}

.logo {
  height: 55px;
}

/*    .nav-links a:hover{
            background-color: rgb(12, 12, 15);
            border-radius: 20px;
            padding: 15px;
            padding-bottom: 5px;
        } */

.nav-btn {
  padding: 15px 30px;
  color: #fdfdfd;
  border-radius: 20px;
  background-color: #005173;
  color: #fdfdfd;
  border: none;
  font-size: 18px;
}

.nav-btn:hover {
  background-color: rgb(11, 13, 31);
  box-shadow: 0px 0px 10px 5px #e7e3e3;
}

.search-bar:hover {
  box-shadow: 0px 0px 10px 5px #e7e3e3;
}

.container1 {
  background-color: #7fa2f5;
  background-image: url(/images/background_in_space.webp);
  height: 650px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", serif;
  font-weight: 900;
  text-align: center;
  margin-top: 60px;
}

.index-poster {
  height: 420px;
  border-radius: 30px;
  border: none;
  padding-left: 10px;
  position: relative;
  left: 20px;
}

.heading-block {
  position: relative;
  bottom: 62px;
}

.main-heading {
  font-size: 67px;
  color: #fdfdfd;
}

.sub-heading {
  font-size: 35px;
  color: #fdfdfd;
}

.heading-block p {
  font-size: 20px;
  color: white;
  font-family: "Poppins", serif;
  font-weight: 200;
  margin: 25px;
  line-height: 50px;
}

/* language Card CSS */
.cards {
  height: 600px;
  width: 100%;
  background-color: rgb(28, 24, 29);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-right: 12px;
}

.cards p {
  font-size: 67px;
  text-align: center;
  position: relative;
  top: 80px;
  color: white;
}

#para-head {
  font-family: "Faster One", serif;
  position: relative;
  top: -20px;
}

.language-card {
  height: 420px;
  width: 600px;
  background-color: rgb(236, 232, 240);
  margin: 15px;
  text-align: center;
  border: none;
  border-radius: 30px;
  padding-top: 10px;
  padding: 12px;
  border: 2px double purple;
}

.language-card:hover {
  box-shadow: 0px 0px 10px 5px rgb(242, 188, 239);
}

.language-card p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  position: relative;
  top: -4px;
  text-align: center;
  color: #3c1471;
}

.language-logo {
  height: 80px;
  margin-bottom: 10px;

  border-radius: 50%;
  padding: 10px;
}

.language-card-btn {
  border-radius: 20px;
  border: none;
  padding: 15px;
  background-color: rgb(77, 18, 103);
  margin-top: 50px;
  color: #fdfdfd;
  position: relative;
}

.language-card-btn:hover {
  background-color: white;
  color: purple;
  border: 2px solid rgb(52, 8, 62);
  border-radius: 30px;
  box-shadow: 0px 0px 5px 5px rgb(32, 21, 33);
}

/* Contaner 2 CSS */
.container2 {
  background-color: rgb(22, 7, 42);
  background-image: url(/images/background_in_space.webp);
  height: 1200px;
  width: 100%;
  font-size: 12px;
}

.explore-lang {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.other-languages {
  height: 300px;
  width: 520px;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

#container2-heading {
  color: rgb(207, 207, 79);
  font-size: 67px;
  text-align: center;
  padding: 40px;
}

.other-languages h2 {
  display: flex;
  justify-content: center;
  margin-left: 15px;
  padding: px;
  font-size: 32px;
  color: purple;
}

.other-languages-logo {
  height: 60px;
  width: 80px;
  margin: 10px auto;
}

.language-paragraph {
  color: tomato;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: purple;
}

.language-btn2 {
  border-radius: 20px;
  border: none;
  padding: 15px;
  background-color: rgb(60, 9, 82);
  margin-top: 9px;
  color: #fdfdfd;
  position: relative;
  left: 210px;
  bottom: px;
}

.other-languages-box2 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  position: relative;
  top: 90px;
}

.other-languages-2 {
  height: 300px;
  width: 520px;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.language-btn2:hover {
  background-color: white;
  color: purple;
  border: 2px solid rgb(52, 8, 62);
  border-radius: 30px;
  box-shadow: 0px 0px 5px 5px rgb(32, 21, 33);
}

/* CSS for Footer*/

.web-bottom-page{
  height: 400px;
  width: 100%;
  background-color: rgb(1, 1, 21);
  color:white;
  display: flex;
}
.web-logo{
  margin-top: 32px;
  margin-left: 80px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.web-bottom-page p{
  color: white;
  width:230px;
  font-size: 22px;
  position: relative;
  top: 20px;
}


.footer-links{
  position: relative;
  left: 200px;
  padding-top: 55px;
  
}

.footer-links li a{
  color: white;
  font-size: 26px;
  line-height:2;
  text-decoration: dashed;
}



.footear-heading{
  color: white;
  font-size: 32px;
  margin-bottom: 18px;
}

.Rights{
  color: white;
  padding: 32px;
  font-size: 22px;
  position:relative;
  right: 25px;
}

.pupular-course-link{
  position: relative;
  left: 120px;
}
.pupular-course-link li a{
  color: white;
  line-height: 1.5;
  font-size: 23px;
  text-decoration: dashed;
}

.pupular-course-link h2{
  margin-top: 55px;
}

.footer-contact{
  position: relative;
  left: 200px;
  top: 55px;
  display: flex; 
  flex-direction: column; 
  justify-content: start; 
}

.footer-contact a{
  font-size: 32px;
  text-decoration: dashed;
}

.social-icons{
  height: 80px;
  margin: 20px;
}

/*--------------------------------------------------CSS For Responsiveness --------------------------------------------------------------------*/

/* media for the nav bar */
@media (max-width: 600px) {
  .top-nav-bar {
    background-color: #192a51;
    padding: 8px;
    height: 75px;
    width: 100%;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-family: "Poppins", serif;
    font-size: 10px;
  }

  .search-bar {
    padding: 7px 10px;
    border-radius: 20px;
    border: none;
    font-size: 9px;
    font-family: "Poppins", serif;
  }

  .nav-links a {
    color: #fdfdfd;
  }

  .logo {
    height: 30px;
  }

  /*    .nav-links a:hover{
            background-color: rgb(12, 12, 15);
            border-radius: 20px;
            padding: 15px;
            padding-bottom: 5px;
        } */

  .nav-btn {
    padding: 10px 12px;
    color: #fdfdfd;
    border-radius: 8px;
    background-color: #005173;
    color: #fdfdfd;
    border: none;
    font-size: 10px;
  }

  .nav-btn:hover {
    background-color: rgb(102, 170, 170);
    box-shadow: 0px 0px 10px 5px #e7e3e3;
  }

  .container1 {
    background-position: center;
    background-image: url(/images/background_in_space.webp);
    background-position: cover;
    background-color: #7fa2f5;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", serif;
    font-weight: 900;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .index-poster {
    height: 420px;
    border-radius: 30px;
    border: none;
    padding-left: 10px;
    position: relative;
    left: 25px;
    z-index: 2;
  }

  .heading-block {
    top: 30px;
    position: relative;
    bottom: 62px;
  }

  .main-heading {
    font-size: 17px;
    color: #fdfdfd;
  }

  .sub-heading {
    font-size: 17px;
    color: #fdfdfd;
  }

  .heading-block p {
    font-size: 9px;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 200;
    margin: 17px;
  }

  .cards {
    height: 600px;
    width: 100%;
    background-color: rgb(28, 24, 29);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-right: 12px;
  }

  .cards p {
    font-size: 67px;
    text-align: center;
    position: relative;
    top: 80px;
    color: white;
  }

  #para-head {
    font-family: "Faster One", serif;
    position: relative;
    top: -20px;
  }

  .language-card {
    height: 420px;
    width: 600px;
    background-color: rgb(236, 232, 240);
    margin: 15px;
    text-align: center;
    border: none;
    border-radius: 30px;
    padding-top: 10px;
    padding: 12px;
    border: 2px double purple;
  }

  .language-card:hover {
    box-shadow: 0px 0px 10px 5px rgb(242, 188, 239);
  }

  .language-card p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    top: -4px;
    text-align: center;
    color: #3c1471;
  }

  .language-logo {
    height: 60px;
    margin-bottom: 10px;
  }

  .language-card-btn {
    border-radius: 20px;
    border: none;
    padding: 15px;
    background-color: rgb(77, 18, 103);
    margin-top: 50px;
    color: #fdfdfd;
    position: relative;
  }

  .language-card-btn:hover {
    background-color: white;
    color: purple;
    border: 2px solid rgb(52, 8, 62);
    border-radius: 30px;
    box-shadow: 0px 0px 5px 5px rgb(32, 21, 33);
  }

  /* Nav media for tablet */
  @media (min-width: 600px) and (max-width: 800px){
    .nav-container{
      position: fixed;
     }
     
     .top-nav-bar {
       background-color: #020610;
       padding: 8px;
       height: 75px;
       width: 100%;
       position: fixed;
       top: 0;
     }
     
     .nav-links {
       display: flex;
       justify-content: center;
       align-items: center;
       justify-content: space-around;
       list-style: none;
       font-family: "Poppins", serif;
       font-size: 12px;
     }
     
     .search-bar {
       padding: 12px 30px;
       border-radius: 20px;
       border: none;
       font-size: 12px;
       font-family: "Poppins", serif;
     }
     
     .nav-links a {
       color: #fdfdfd;
     }
     
     .logo {
       height: 55px;
     }
     
     /*    .nav-links a:hover{
                 background-color: rgb(12, 12, 15);
                 border-radius: 20px;
                 padding: 15px;
                 padding-bottom: 5px;
             } */
     
     .nav-btn {
       padding: 10px 20px;
       color: #fdfdfd;
       border-radius: 20px;
       background-color: #005173;
       color: #fdfdfd;
       border: none;
       font-size: 12px;
     }
     
     .nav-btn:hover {
       background-color: rgb(11, 13, 31);
       box-shadow: 0px 0px 10px 5px #e7e3e3;
     }
     
     .search-bar:hover {
       box-shadow: 0px 0px 10px 5px #e7e3e3;
     }
  }

  /* media for the html, css & js cards*/
  @media (max-width: 600px) {
    .cards {
      width: 100%;
      background-color: rgb(191, 157, 230);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      padding-right: 12px;
    }

    .cards p {
      font-size: 19px;
      margin-bottom: 20px;
      text-align: center;
      position: relative;
      top: 20px;
      color: white;
    }

    #para-head {
      font-family: "Faster One", serif;
    }

    .language-card {
      height: 220px;
      width: 300px;
      background-color: rgb(236, 232, 240);
      margin: 7px;
      border: none;
      border-radius: 20px;
      padding-top: 10px;
      padding: 12px;
    }

    .language-card:hover {
      box-shadow: 0px 0px 10px 10px rgb(242, 188, 239);
    }

    .language-card p {
      font-size: 9px;
      font-style: normal;
      font-weight: 400;
      position: relative;
      top: -4px;
      text-align: center;
      color: #3c1471;
    }

    .language-logo {
      height: 25px;
      margin-bottom: 8px;
    }

    .language-card-btn {
      border-radius: 20px;
      border: none;
      padding: 12px;
      background-color: rgb(60, 9, 82);
      margin-top: 9px;
      color: #fdfdfd;
    }
  }

  /* media for html,css& js cards*/
  @media (min-width: 600px) and (max-width: 800px) {
    .cards {
      width: 100%;
      background-color: rgb(191, 157, 230);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      padding-right: 12px;
    }

    .cards p {
      font-size: 30px;
      margin-bottom: 20px;
      text-align: center;
      position: relative;
      top: 20px;
      color: white;
    }

    #para-head {
      font-family: "Faster One", serif;
    }

    .language-card {
      height: 440px;
      width: 500px;
      background-color: rgb(236, 232, 240);
      margin: 14px;
      border: none;
      border-radius: 25px;
      padding-top: 14px;
      padding: 15px;
    }

    .language-card:hover {
      box-shadow: 0px 0px 10px 10px rgb(242, 188, 239);
    }

    .language-card p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      position: relative;
      top: -4px;
      text-align: center;
      color: #3c1471;
    }

    .language-logo {
      height: 30px;
      margin-bottom: 8px;
    }

    .language-card-btn {
      border-radius: 20px;
      border: none;
      padding: 20px;
      background-color: rgb(60, 9, 82);
      margin-top: 9px;
      color: #fdfdfd;
    }
  }

  /* media for container2 */
  @media (max-width: 600px){

    .container2 {
      background-color: rgb(22, 7, 42);
      background-image: url(/images/background_in_space.webp);
      height: 1200px;
      width: 100%;
      font-size: 9px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .explore-lang {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-content: space-evenly;
    }
    
    .other-languages {
      height: 150px;
      width: 250px;
      background-color: white;
      border-radius: 20px;
      border: 2px solid black;
      display: flex;
      flex-direction: column;
      margin: 12px;
    }
    
    #container2-heading {
      color: rgb(207, 207, 79);
      font-size: 37px;
      text-align: center;
      padding: 40px;
    }
    
    .other-languages h2 {
      display: flex;
      justify-content: center;
      margin-left: 15px;
      padding: px;
      font-size: 16px;
      color: purple;
    }
    
    .other-languages-logo {
      height: 26px;
      width: 40px;
      margin: 0px auto;
    }
    
    .language-paragraph {
      font-size: 10px;
      text-align: center;
      padding: 8px;
      color: purple;
    }
    
    .language-btn2 {
      border-radius: 20px;
      border: none;
      padding: 7px;
      background-color: rgb(60, 9, 82);
      margin-top: 6px;
      color: #fdfdfd;
      position: relative;
      left: 80px;
      bottom: px;
    }
    
    .other-languages-box2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: space-evenly;
      position: relative;
      top: 0px;
    }
    
    .other-languages-2 {
      height: 150px;
      width: 250px;
      background-color: white;
      border-radius: 20px;
      border: 2px solid black;
      display: flex;
      flex-direction: column;
    }
    
    .language-btn2:hover {
      background-color: white;
      color: purple;
      border: 2px solid rgb(52, 8, 62);
      border-radius: 30px;
      box-shadow: 0px 0px 5px 5px rgb(32, 21, 33);
    }
    
    
  }





  
}


