body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
.sidebar {
    width: 220px; 
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh; 
    background-color: #343a40;
    color: #fff;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.sidebar a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #cfcfcf;
   
}
.sidebar a:hover {
    background-color: #04AA6D;
    color: #fff;
}
.para {
    margin: 0;
    padding: 20px;
    margin-left: 220px; 
    color: #000000;
   
}


.para p {
    line-height: 1.6;
    margin-bottom: 20px;
}
.example{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    height: 108px;
    width: 500px;
    border-color:20px aqua;
    margin-left: 100px;
    padding-left: 10px;
    font-size: 13px;
    
    
    
}
.youtube{
    margin-left: 100px;
}
h3{
    margin-top:50px;
    margin-left:90px;
}
li{
    margin-top:10px;
}
.titles{
    color: #04AA6D;
}
.center{
    color:#04AA6D;
    margin-left: 40%;
    height: 40px;
}