.Login-container{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}


body{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: deepskyblue;
}

.Login-container{
    background-color:bisque;
    padding:20px;
    border-radius: 10px ;
    box-shadow: 0px 4px 8px rgba(red, green, blue, alpha);
    width:400px;
    border: solid;
}

h2{
    text-align: center;
    font-size: 30px;
}

.container input{
    border: 2px solid brown;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
    color:chocolate ;
    font-size:15px;
    flex-direction: column;

    
}

.box input{
    border: 2px solid brown;
    border-radius:50px ;
    padding:5px 10px 5px 10px;
    color:chocolate ;
    font-size: 15px;
}

.btt1{
    font-size: 30px;
    margin-top: 20px;
    position: relative;
    left:150px;
    background-color:plum;
    padding: 5px 10px 5px 10px; 
    border-radius: 5px 10px 5px 10px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}



.btt1:hover{
    box-shadow: 0 0 7px;
    transition: 0.5s;

}


.sign-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sign-container{
    background-color:bisque;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0px 4px 8px rgba(from color r g b);
    border: solid;
}

.box1 input{
    border: 2px solid ;
    border-radius:20px;
    padding: 5px 10px 5px 10px;
    color:black ;
    font-size:15px;
}

.box2 input{
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    color: black;
    border: 2px solid;
    margin-top: 10px;
}

.box3 input{
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    color: black;
    border:2px solid;
    margin-top: 10px;
}
.box4 input{
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    color: black;
    border:2px solid;
    margin-top: 10px;
}

.box5 {
    font-size: 30px;
    margin-top: 20px;
    position: relative;
    left:100px;
    background-color:plum;
    padding: 5px 10px 5px 10px; 
    border-radius: 5px 10px 5px 10px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.box5:hover{
    box-shadow: 0 0 7px;
    transition: 0.5s;
}
 
 
 p{
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
 }

    
    

    




    
        
        
        
        
        
          




