
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sevillana&display=swap');

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: black;
        }

    
        .top-nav-bar{
            background-color: #192A51;
            padding: 8px;
            height: 75px;
            width: 100%;
            
        }

        .nav-links{
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-around;
            list-style: none;
            font-family:"Poppins", serif;;
            font-size: 18px;
        }

        .search-bar{
           padding:15px 30px ;
            border-radius: 20px;
            border: none;
            font-size: 18px;
            font-family:"Poppins", serif;;
        }

        .nav-links a{
            color: #FDFDFD;
        }

        .logo{
            height: 55px; 
        }

    /*    .nav-links a:hover{
            background-color: rgb(12, 12, 15);
            border-radius: 20px;
            padding: 15px;
            padding-bottom: 5px;
        } */

        .nav-btn{
            padding:15px 30px ;
            color: #fdfdfd;
            border-radius: 20px;
            background-color: #005173;
            color: #fdfdfd;
            border: none;
            font-size: 18px;
        }

        .nav-btn:hover{
            background-color: rgb(102, 170, 170);
            box-shadow: 0px 0px 10px 5px #e7e3e3;
        }

        .container1{
            background-color: #7fa2f5;
            background-image: url(/images/background_in_space.webp);
            height: 700px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family:"Poppins", serif;
            font-weight: 900;
            text-align: center;
        }
       
        .index-poster{
            height: 420px;
            border-radius: 30px;
            border: none;
            padding-left: 10px;
            position: relative;
            left: 30px;
            
        }

       .heading-block{
        position: relative;
        bottom: 62px;
       }

        .main-heading{
            font-size: 67px;
            color: #fdfdfd;
        }

        .sub-heading{
            font-size: 35px;
            color: #fdfdfd;
        }
        
        .heading-block p{
            font-size: 20px;
            color: white;
            font-family:"Poppins", serif;
            font-weight: 200;
            margin: 25px ;
        }